## Mac OS X
.DS_Store

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.idea/
target/

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## fastlane
fastlane/builds
fastlane/report.xml
fastlane/screenshots
fastlane/profiles
fastlane/Appfile
fastlane/Deliverfile