[submodule "Thirdparty/Lockbox"]
	path = Thirdparty/Lockbox
	url = git@github.com:granoff/Lockbox.git
[submodule "Thirdparty/GCNetworkReachability"]
	path = Thirdparty/GCNetworkReachability
	url = git@github.com:GlennChiu/GCNetworkReachability.git
[submodule "Thirdparty/ios-fontawesome"]
	path = Thirdparty/ios-fontawesome
	url = git@github.com:alexdrone/ios-fontawesome.git
[submodule "Thirdparty/AFNetworking"]
	path = Thirdparty/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
